on:
  workflow_call:
    inputs:
      registry:
        required: true
        description: "Registry to use e.g.: gcp"
        type: string
      workload_identity_provider:
        required: false
        type: string
      service_account:
        required: false
        type: string
      region:
        required: true
        type: string
      repository_name:
        required: true
        type: string
      gcp_project_id:
        required: false
        type: string

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 10
          fetch-tags: true
      - name: Lint
        run: |
          helm lint
      - name: Tag
        uses: martoc/action-tag@v0
      - uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ inputs.workload_identity_provider }}
          service_account: ${{ inputs.service_account }}
        if: ${{ inputs.registry == 'gcp' }}
      - name: Helm Chart Build
        uses: martoc/action-helm-build@v0
        with:
          registry: ${{ inputs.registry }}
          region: ${{ inputs.region }}
          repository_name: ${{ inputs.repository_name }}
          gcp_project_id: ${{ inputs.gcp_project_id }}
      - name: Release on GitHub
        uses: martoc/action-release@v0
