on:
  workflow_call:
    inputs:
      registry:
        required: true
        description: "Registry to use e.g.: gcp"
        type: string
      repository_name:
        required: true
        type: string
      region:
        required: true
        type: string
      environment:
        required: false
        type: string
      cluster_name:
        description: Cluster name
        required: true
        type: string
      chart_name:
        description: Chart name
        required: true
        type: string
      chart_version:
        description: Chart version
        required: true
        type: string
      chart_value_file:
        description: Chart value file
        required: true
        type: string
      workload_identity_provider:
        required: false
        type: string
      service_account:
        required: false
        type: string
      gcp_project_id:
        required: false
        type: string
      ref:
        required: false
        type: string
        default: main
      version:
        required: false
        type: string
        default: ""
      aws_role_arn:
        required: false
        type: string
        default: ""
jobs:
  deploy:
    runs-on: ubuntu-24.04
    environment:
      name: ${{ inputs.registry }}/${{ inputs.gcp_project_id }}/${{ inputs.region }}/${{ inputs.cluster_name }}
    steps:
      - run: set
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
        if: inputs.ref != 'main'
      - name: Set Version
        run: |
          export TAG_VERSION=${{ inputs.version }}
          export TAG_NAME=v${{ inputs.version }}
          echo "TAG_VERSION=$TAG_VERSION" >> "$GITHUB_ENV"
          echo "TAG_NAME=$TAG_NAME" >> "$GITHUB_ENV"
        if: inputs.version != ''
      - name: Load Version
        uses: martoc/action-tag@v0
        with:
          execute: load
        if: inputs.ref == 'main'
      - name: Checkout
        uses: actions/checkout@v4
        if: inputs.ref == 'main'
      - name: Helm Chart Dep`loy
        uses: martoc/action-helm-deploy@v0
        with:
          workload_identity_provider: ${{ inputs.workload_identity_provider }}
          service_account: ${{ inputs.service_account }}
          aws_role_arn: ${{ inputs.aws_role_arn }}
          registry: ${{ inputs.registry }}
          region: ${{ inputs.region }}
          repository_name: ${{ inputs.repository_name }}
          gcp_project_id: ${{ inputs.gcp_project_id }}
          environment: ${{ inputs.environment }}
          chart_name: ${{ inputs.chart_name }}
          chart_version: ${{ inputs.chart_version }}
          chart_value_file: ${{ inputs.chart_value_file }}
          version: ${{ inputs.version }}
